<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.activity.modules.business.mapper.BusinessMapper">

    <insert id="insert" parameterType="com.activity.modules.business.entity.po.BusinessPo">
        INSERT INTO business(
            business_name,business_phone,business_qq,
            business_store,business_addr,business_message,
            latitude,longitude
        )values(
            #{business_name},#{business_phone},#{business_qq},
            #{business_store},#{business_addr},#{business_message},
            #{latitude},#{longitude}
        )
    </insert>

    <select id="selectByPhone" resultType="java.lang.Integer" parameterType="com.activity.modules.business.entity.po.BusinessPo">
        SELECT
            COUNT(*)
        FROM
            `business`
        WHERE
            business_phone = #{business_phone}
    </select>

    <select id="selectById" resultType="com.activity.modules.business.entity.po.BusinessPo" parameterType="java.lang.Integer">
        SELECT * FROM  `business` WHERE id = #{id}
    </select>
</mapper>