<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.activity.modules.join.mapper.JoinMapper">

    <insert id="insert" parameterType="com.activity.modules.join.entity.po.JoinPo">
        INSERT INTO `join`(
            name,phone,qq,
            business,addr,message,
            latitude,longitude
        )values(
            #{name},#{phone},#{qq},
            #{business},#{addr},#{message},
            #{latitude},#{longitude}
        )
    </insert>

</mapper>